@media (max-width: 767px) {
  body {
    text-align: center;
    overflow-x: hidden !important;
  }

  .wpprdp a {
    text-align: center !important;
  }

  .navbar {
    display: none;
  }

  h1 {
    font-size: 40px;
    line-height: 45px;
  }

  h2 {

  }

  h5 {
    font-size: 18px;
    line-height: 25px;
  }

  /* Secao-01 */
  .secao-01 {
    padding: 300px 0 150px;
    height: 100vh;
    color: var(--cinza);
  }

  .logo {
    max-width: 280px;
  }

  footer {}

}

.wpp {
  position: fixed;
  cursor: pointer;
  display: block;
  width: 80px;
  height: 80px;
  bottom: 40px;
  right: 40px;
  background-color: rgba(0, 200, 0, 1);
  color: white;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  text-align: center;
  font-size: 50px;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-animation: pulse 3s infinite;
  animation: pulse 3s infinite;
  z-index: 9000;
}

.wpp:hover {
  color: green;
}

.wpp i {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 200, 0, 1);
  }

  70% {
    -webkit-box-shadow: 0 0 0 13px rgba(0, 200, 0, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 200, 0, 0);
  }
}

.owl-dots {
  display: none;
}